<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <cmsFactory>
      <cmsType type="Sitecore.Feature.Blog.CMS.Factories.DefaultBlogFactory, Sitecore.Feature.Blog.CMS"></cmsType>
    </cmsFactory>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
           type="Sitecore.Feature.Blog.Pipelines.BlogStart, Sitecore.Feature.Blog" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
