@using Glass.Mapper.Sc.Web.Mvc
@model Sitecore.Feature.Blog.Domain.Templates.IBlogDetail

<div class="news">
  <h2>
    @Html.Glass().Editable(Model, x => x.BlogDetailTitle)
  </h2>

  <div class="well">
      <span class="text-muted">
          @Html.Glass().Editable(Model, x => x.BlogDetailDate)
    </span>
  </div>
  @Html.Glass().Editable(Model, x => x.BlogDetailImage)
  <div class="body">
    @Html.Glass().Editable(Model, x => x.BlogDetailBody)
  </div>
</div>